#countdown{
	width: 50%;
	text-align:center;
	position: absolute;
	left:37.5%;
	right:37.5%;
	color:white;
	bottom: 0px;
	display: flex;
	font-family: century gothic;
}
.clock{
  color: #2799ff;
  font-size: 32px;
  line-height: 1em;
  margin:30px;
}
.wday{
  margin-top: 12px;
  color: #8a99ab;
  font-size: 20px;
  line-height: 1em;
}
