body {
      background: #262626;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      padding-top:180px;
     padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 380px;
      background:#fff;
    }

    .swiper-slide .imageBox{
    	width: 100%;
    	height: 280px;
    	overflow: hidden;
    }

    .swiper-slide .imageBox img{
    	width: 100%;
    	height: 280px;
    }

    .swiper-slide .details{
    	box-sizing: border-box;
    	padding: 20px;
    }

    .swiper-slide .details h3{
    	margin: 0;
    	padding: 0;
    	font-size: 20px;
    	text-align : center;
    	line-height: 20px;
    }

    .swiper-slide .details h3 span{
    	font-size: 16px;
    	color: #f44336;
    }

    .setting123{
      width:100%;
      margin-top: 120px;
    }