#section_technical{
	min-height:200px;
	color:#FFF;
	background-color: #1E88E5;
}
#section_managerial{
	min-height:200px;
	color:#FFF;
	background-color: #673ab7;
}
#section_informals{
	min-height:200px;
	color:#FFF;
	background-color: #ff9800;
}
#section_nights{
	min-height:200px;
	color:#FFF;
	background-color: #009688;
}
.setting123{
	width: 100%;
	margin-top: 120px;
}