td{

    text-align: center;

  }

  .icon{

    height: 32px;
    width: 32px;

  }

  .timeout{
      opacity:0;
      transform: translateY(-100%);
      transition: all 0.5s;
  }

  .timeout2{
      opacity:1;
      transform: translateY(0);
  }