#preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 999999;
  transition: all .5s ease-out;
}
#preloader .blobs-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
@-webkit-keyframes blobs-left {
  0% {
    margin-left: 20px;
  }
  33% {
    margin-top: -15px;
    margin-left: -20px;
  }
  62% {
    margin-top: 22px;
    margin-left: -5px;
  }
  75% {
    margin-top: 22px;
    margin-left: -5px;
  }
  94% {
    margin-left: 20px;
  }
}
@keyframes blobs-left {
  0% {
    margin-left: 20px;
  }
  33% {
    margin-top: -15px;
    margin-left: -20px;
  }
  62% {
    margin-top: 22px;
    margin-left: -5px;
  }
  75% {
    margin-top: 22px;
    margin-left: -5px;
  }
  94% {
    margin-left: 20px;
  }
}
@-webkit-keyframes blobs-right {
  0% {
    margin-left: -20px;
  }
  33% {
    margin-top: 15px;
    margin-left: 20px;
  }
  62% {
    margin-top: -22px;
    margin-left: 5px;
  }
  75% {
    margin-top: -22px;
    margin-left: 5px;
  }
  94% {
    margin-left: -20px;
  }
}
@keyframes blobs-right {
  0% {
    margin-left: -20px;
  }
  33% {
    margin-top: 15px;
    margin-left: 20px;
  }
  62% {
    margin-top: -22px;
    margin-left: 5px;
  }
  75% {
    margin-top: -22px;
    margin-left: 5px;
  }
  94% {
    margin-left: -20px;
  }
}
#preloader .blobs {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-filter: url("#goo");
          filter: url("#goo");
  margin-left: 20px;
  -webkit-animation: blobs-left cubic-bezier(0.77, 0, 0.175, 1) 4s infinite 1s;
          animation: blobs-left cubic-bezier(0.77, 0, 0.175, 1) 4s infinite 1s;
}
#preloader .blobs.right-bottom {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(180deg);
          transform: translate3d(-50%, -50%, 0) rotate(180deg);
  margin-top: -40px;
  margin-left: -20px;
  -webkit-animation: blobs-right cubic-bezier(0.77, 0, 0.175, 1) 4s infinite 1s;
          animation: blobs-right cubic-bezier(0.77, 0, 0.175, 1) 4s infinite 1s;
}
@-webkit-keyframes blob-left-top-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }
  62% {
    -webkit-transform: scale(0.65) translate(4px, 16px);
            transform: scale(0.65) translate(4px, 16px);
  }
  75% {
    -webkit-transform: scale(0.65) translate(4px, 16px);
            transform: scale(0.65) translate(4px, 16px);
  }
  94% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes blob-left-top-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }
  62% {
    -webkit-transform: scale(0.65) translate(4px, 16px);
            transform: scale(0.65) translate(4px, 16px);
  }
  75% {
    -webkit-transform: scale(0.65) translate(4px, 16px);
            transform: scale(0.65) translate(4px, 16px);
  }
  94% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes blob-right-top-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }
  66% {
    -webkit-transform: scale(0.65) translate(25px, -85px);
            transform: scale(0.65) translate(25px, -85px);
  }
  75% {
    -webkit-transform: scale(0.65) translate(25px, -85px);
            transform: scale(0.65) translate(25px, -85px);
  }
  96% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes blob-right-top-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }
  66% {
    -webkit-transform: scale(0.65) translate(25px, -85px);
            transform: scale(0.65) translate(25px, -85px);
  }
  75% {
    -webkit-transform: scale(0.65) translate(25px, -85px);
            transform: scale(0.65) translate(25px, -85px);
  }
  96% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes blob-left-bottom-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }
  62% {
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  75% {
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  98% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes blob-left-bottom-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }
  62% {
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  75% {
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px);
  }
  98% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
#preloader .blob {
  position: absolute;
  background: black;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite 1s;
          animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite 1s;
}
#preloader .blob.red {
  background: #C52D26;
}
#preloader .blob.blue {
  background: #2b71a0;
}
#preloader .blob.hidden {
  background: transparent;
}
#preloader .blob:nth-child(2) {
  -webkit-animation-name: blob-left-bottom-anim;
          animation-name: blob-left-bottom-anim;
}
#preloader .blob:nth-child(3) {
  -webkit-animation-name: blob-right-top-anim;
          animation-name: blob-right-top-anim;
}
